<div class="max-w-lg mx-auto h-full mt-14 ">
  <div class="flex items-center mb-4">
    <div class="h-[1px] w-16 bg-primary-light"></div>
    <h1 class="text-primary font-medium text-[2rem] mx-4 ">Gestion parc</h1>

  </div>
  <div class="flex justify-start space-x-8 border-b border-border mb-8 text-lg">

    <div (click)="setActiveTab('search')"
         [class]="activeTab === 'search' ? 'text-primary border-primary border-b-2 ' : ' border-border'"
         class="flex items-center justify-start space-x-1 cursor-pointer  py-2 font-medium transition duration-300">
      <div class="">
        <lucide-icon
          name="Search"
          [strokeWidth]="1"
          class="w-5 h-5"
          aria-label="Search"
        ></lucide-icon>
      </div>
      <span>Rechercher</span>
    </div>

    <div (click)="setActiveTab('create')"
         [class]="activeTab === 'create' ? 'text-primary border-primary border-b-2 ' : ' border-border'"
         class="flex items-center justify-start space-x-1 cursor-pointer  py-2 font-medium transition duration-300">
      <div>
        <lucide-icon
          name="PlusSquare"
          [strokeWidth]="1"
          class="w-5 h-5"
          aria-label="PlusSquare">
        </lucide-icon>
      </div>
      <span>Créer véhicule</span>
    </div>

    <div (click)="setActiveTab('reservations')"
         [class]="activeTab === 'reservations' ? 'text-primary border-primary border-b-2 ' : ' border-border'"
         class="flex items-center justify-start space-x-1 cursor-pointer  py-2 font-medium transition duration-300">
      <div>
        <lucide-icon
          name="ClipboardList"
          [strokeWidth]="1"
          class="w-5 h-5"
          aria-label="ClipboardList"
        ></lucide-icon>
      </div>
      <span>Réservations</span>
    </div>
  </div>

  <div>
    <app-company-vehicle-admin-list *ngIf="activeTab === 'search'"></app-company-vehicle-admin-list>

    <app-company-vehicle-create *ngIf="activeTab === 'create'"
                                (vehicleCreated)="onVehicleCreated()"></app-company-vehicle-create>

    <app-booking-admin-list *ngIf="activeTab === 'reservations'"></app-booking-admin-list>
  </div>
</div>
