<div
  class="bg-white shadow-lg rounded-md p-4 w-full text-left  hover:shadow-xl transition-shadow  transition:transition-all duration-300"
>
  <div class="flex justify-end gap-4">
    <div class="flex justify-end mb-2">
      <div class="flex items-center gap-2 bg-secondary-muted rounded-xl w-fit h-8 px-2 ">
        <div class="text-secondary text-sm">
          <lucide-icon
            name="Timer"
            [strokeWidth]="1"
            class="w-5 h-5 "
            aria-label="timer"
          ></lucide-icon>
        </div>
        <p class="text-secondary text-sm font-light pt-1">{{ rideshare.formattedTripDuration }}</p>
      </div>
    </div>

    <div class="flex justify-end mb-2" *ngIf="rideshare.availableSeats == 0">
      <div class="flex items-center gap-2 bg-secondary text-neutral text-sm rounded-xl w-fit h-8 px-2 ">
        <div class="">
          <lucide-icon
            name="Timer"
            [strokeWidth]="1"
            class="w-5 h-5 "
            aria-label="timer"
          ></lucide-icon>
        </div>
        <p class="text-sm font-light text-neutral pt-1">complet</p>
      </div>
    </div>

    <div class="flex justify-end" *ngIf="rideshare.availableSeats > 0">
      <button (click)="onReserve()" class="btn-details-rounded cursor-pointer">
        <lucide-icon
          name="ArrowUpRight"
          [strokeWidth]="2"
          class="w-4 h-4"
          aria-label="Eye"
        ></lucide-icon>
      </button>
    </div>
  </div>

  <div class="flex items-center justify-around mt-2">
    <div class="flex items-center gap-2">
      <div class="pb-1">
        <lucide-icon
          name="MapPin"
          [strokeWidth]="1"
          class="w-4 h-4 text-primary"
          aria-label="map pin"
        ></lucide-icon>
      </div>
      <p class=" ">{{ rideshare.departureAddress.city }}</p>
      <p class="text-sm font-light text-primary">{{ rideshare.departureTime | dateFormatter }}</p>
    </div>
    <div class="h-[1px] w-10 bg-border"></div>
    <div class="flex items-center gap-2">
      <div class="pb-1">
        <lucide-icon
          name="MapPin"
          [strokeWidth]="1"
          class="w-4 h-4 text-primary"
          aria-label="map pin"
        ></lucide-icon>
      </div>
      <p class=" ">{{ rideshare.arrivalAddress.city }}</p>
      <p class="text-sm font-light text-primary">{{ rideshare.arrivalTime | dateFormatter }}</p>
    </div>
  </div>

</div>
