<div
  class="bg-white shadow-lg rounded-md p-4 w-full text-left box-border hover:shadow-xl transition-shadow  transition:transition-all duration-300"
  aria-label="Voir les détails du covoiturage"
>
  <div class="flex justify-between">
    <div class="flex flex-col ">
      <div class="flex items-center gap-2">
        <div class="pb-1">
          <lucide-icon
            name="MapPin"
            [strokeWidth]="1"
            class="w-4 h-4 text-primary-light "
            aria-label="map pin"
          ></lucide-icon>
        </div>
        <p class="text-md ">{{ rideshare.departureAddress.city }}</p>
        <p class="text-sm font-light text-primary">{{ rideshare.departureTime | dateFormatter }}</p>
      </div>
      <div class="w-[1px] h-8 ml-2 bg-primary-light"></div>
      <div class="flex items-center gap-2">
        <div class="pb-1">
          <lucide-icon
            name="MapPin"
            [strokeWidth]="1"
            class="w-4 h-4 text-primary-light "
            aria-label="map pin"
          ></lucide-icon>
        </div>
        <p class="text-md ">{{ rideshare.arrivalAddress.city }}</p>
        <p class="text-sm font-light text-primary">{{ rideshare.arrivalTime | dateFormatter }}</p>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="flex justify-end">
        <button (click)="onCheckDetails()" class="btn-details-rounded cursor-pointer">
          <lucide-icon
            name="Eye"
            [strokeWidth]="1"
            class="w-4 h-4"
            aria-label="Eye"
          ></lucide-icon>
        </button>
      </div>
      <div class="relative inline-block h-12 ">
        <lucide-icon
          name="UsersRound"
          [strokeWidth]="1"
          class="w-7 h-7 text-secondary-light mt-4 mr-4"
          aria-label="Users"
        ></lucide-icon>
        <p-badge
          value="{{ rideshare.passengers.length }}"
          class="absolute top-0 right-0 text-xs font-extralight text-neutral "
          severity="warning"
        ></p-badge>
      </div>
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="displayDialog"
  modal="true"
  [style]="{ width: '45vw' }"
  [resizable]="false"
  [closable]="true"
  [header]="dialogContentType === 'details' ? 'Détails du trajet' : 'Modifier le trajet'"
>
  <ng-template pTemplate="content">
    <ng-container *ngIf="dialogContentType === 'details'">
      <app-rideshare-organizer-details
        [rideshare]="detailedRideshare"
        (edit)="onEditRideShare()"
        (cancelled)="onCloseDialog()"
      ></app-rideshare-organizer-details>
    </ng-container>

    <ng-container *ngIf="dialogContentType === 'update'">
      <app-rideshare-organizer-update
        [rideshare]="detailedRideshare"
        (updateCompleted)="onCloseUpdate()"
      ></app-rideshare-organizer-update>
    </ng-container>
  </ng-template>
</p-dialog>
