<div>

  <ul class="space-y-4">
    <app-private-vehicle-item
      *ngFor="let vehicle of vehicles"
      [vehicle]="vehicle"
      (edit)="editVehicle($event)"
      (delete)="deleteVehicle($event)">
    </app-private-vehicle-item>
  </ul>
  <div class="text-center">
    <button (click)="openCreateModal()"
            class="my-6 mx-auto btn-validate">
      <lucide-icon
        name="CirclePlus"
        [strokeWidth]="1"
        class="w-5 h-5"
        aria-label="Circle Plus"
      ></lucide-icon>
      Ajouter un véhicule
    </button>
  </div>
  <p-dialog
    [(visible)]="isEditModalOpen"
    modal="true"
    [style]="{ width: '50vw' }"
    [resizable]="false"
    [closable]="true"
    (onHide)="closeEditModal(false)"
    header="Mise à jour du véhicule"

  >
    <ng-template pTemplate="content">
      <app-private-vehicle-edit
        [vehicleId]="selectedVehicleId"
        (updateComplete)="closeEditModal(true)"
        (closeModal)="closeEditModal(false)">
      </app-private-vehicle-edit>
    </ng-template>
  </p-dialog>

  <p-dialog
    [(visible)]="isCreateModalOpen"
    modal="true"
    [style]="{ width: '50vw' }"
    [resizable]="false"
    [closable]="true"
    (onHide)="closeCreateModal(false)"
    header="Votre véhicule"
  >
    <ng-template pTemplate="content">
      <app-private-vehicle-create
        (createComplete)="closeCreateModal(true)"
        (closeModal)="closeCreateModal(false)">
      </app-private-vehicle-create>
    </ng-template>
  </p-dialog>


</div>
