<div class="max-w-lg mx-auto p-6 space-y-6">
  <div class="flex items-center mb-4">
    <div class="h-[1px] w-16 bg-primary-light"></div>
    <h1 class="text-primary font-medium text-[2rem] mx-4 ">Votre compte</h1>
  </div>

    <div *ngIf="employeeProfile$ | async as employeeProfile" class="bg-white p-6  shadow-lg rounded-lg space-y-2">
            <p class="text-lg font-medium "> {{ employeeProfile.firstName }} {{
                employeeProfile.lastName }}
            </p>
        <div class="flex gap-4">
            <p class="flex gap-2">
              <span>
                <lucide-icon
              name="Smartphone"
              [strokeWidth]="1"
              class="w-5 h-5"
              aria-label="map pin"
            ></lucide-icon></span> {{ employeeProfile.phone }}
            </p>
            <p class="flex gap-2 "><span>
              <lucide-icon
              name="Mail"
              [strokeWidth]="1"
              class="w-5 h-5"
              aria-label="map pin"
            ></lucide-icon></span>
              {{ employeeProfile.email }}</p>
        </div>
        <app-private-vehicle-list></app-private-vehicle-list>
    </div>
    </div>
