<div *ngIf="!isConfirmVisible ">
  <div class="p-6 space-y-5 font-sans">
    <div class="flex items-center gap-2 text-secondary-light  ">
      <lucide-icon
        name="Map"
        [strokeWidth]="1"
        class="w-6 h-6 "
        aria-label="Map"
      ></lucide-icon>
      <h3 class="text-lg">Itinéraire</h3>
    </div>
    <div class="flex items-start gap-14">
      <div class="flex gap-2">
        <div class="flex flex-col items-center justify-center">
          <lucide-icon
            name="MapPin"
            [strokeWidth]="1"
            class="w-5 h-5 text-primary-light"
            aria-label="map pin"
          ></lucide-icon>
        </div>
        <div class="flex flex-col items-start">
          <p class=" font-light ">{{ rideshare.departureTime | dateFormatter }}</p>
          <p class="">{{ rideshare.departureAddress.number }} {{ rideshare.departureAddress.street }}</p>
          <p> {{ rideshare.departureAddress.code }} - {{ rideshare.departureAddress.city }}</p>
        </div>
      </div>

      <div class="flex gap-2">
        <div class="flex flex-col items-center justify-center">
          <lucide-icon
            name="MapPin"
            [strokeWidth]="1"
            class="w-5 h-5 text-primary-light"
            aria-label="map pin"
          ></lucide-icon>
        </div>
        <div class="flex flex-col items-start">
          <p class=" font-light ">{{ rideshare.arrivalTime | dateFormatter }}</p>
          <p class="">{{ rideshare.arrivalAddress.number }} {{ rideshare.arrivalAddress.street }}</p>
          <p> {{ rideshare.arrivalAddress.code }} - {{ rideshare.arrivalAddress.city }}</p>
        </div>
      </div>
    </div>

    <div>
      <div class="flex items-center gap-2 text-secondary-light">
        <lucide-icon
          name="Car"
          [strokeWidth]="1"
          class="w-6 h-6 "
          aria-label="Car"
        ></lucide-icon>
        <h3 class="text-lg  ">Véhicule</h3>
      </div>
      <div class="flex gap-2">
        <p>{{ rideshare.vehicle.brand }} -</p>
        <p>{{ rideshare.vehicle.model }} -</p>
        <p>{{ rideshare.vehicle.number }}</p>
      </div>
    </div>

    <div>
      <div class="flex items-center gap-2 text-secondary-light mb-2">
        <lucide-icon
          name="UsersRound"
          [strokeWidth]="1"
          class="w-5 h-5"
          aria-label="UsersRound"
        ></lucide-icon>
        <h3 class="text-lg">Passagers</h3>
      </div>
      <div *ngIf="rideshare.passengers && rideshare.passengers.length > 0; else noPassengers">
        <ul class="flex space-x-4">
          <li *ngFor="let passenger of rideshare.passengers" class="flex items-center gap-1">
            <img
              [src]="passenger.gender === 'male' ? 'assets/images/avatar-m.png' : 'assets/images/avatar-f.png'"
              alt="Avatar"
              class="w-8 h-8 rounded-full"
            />
            <p class="">{{ passenger.firstName }} {{ passenger.lastName }}</p>
          </li>
        </ul>
      </div>
      <ng-template #noPassengers>
        <p class="text-sm font-light">Pas de passagers inscrits pour le moment</p>
      </ng-template>
    </div>


    <div class="flex items-center gap-2 mb-2">
      <lucide-icon
        name="ContactRound"
        [strokeWidth]="1"
        class="w-5 h-5 text-secondary-light "
        aria-label="ContactRound"
      ></lucide-icon>
      <h3 class="text-lg text-secondary-light ">Places disponibles</h3>
      <p class=""> {{ rideshare.availableSeats }}</p>
    </div>

    <div class="flex justify-center gap-2" *ngIf="!past">
      <button (click)="onEdit()"
              class="btn-edit" *ngIf="rideshare.passengers.length == 0">
        Modifier le trajet
      </button>
      <button (click)="showConfirmation()"
              class="btn-warning">
        Annuler le trajet
      </button>
    </div>
  </div>
</div>

<div *ngIf="isConfirmVisible">
  <app-confirm-dialog
    [visible]="isConfirmVisible"
    [message]="confirmationMessage"
    [confirmButtonText]="confirmationConfirmText"
    [cancelButtonText]="confirmationCancelText"
    (confirm)="onConfirmCancel()"
    (cancel)="onCancelCancel()">
  </app-confirm-dialog>
</div>
