<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-8 rounded-lg ">

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- Champ pour l'email -->
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Adresse email</label>
                <input id="username" type="text" formControlName="username"
                    class="mt-1 block w-full px-3 py-2 border border-border rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary "
                    placeholder="Entrez votre adresse email" />
                <div *ngIf="isSubmitted &&loginForm.get('username')?.invalid && loginForm.get('username')"
                    class="text-red-500 text-sm pt-2">
                    <div *ngIf="isSubmitted &&loginForm.get('username')?.errors?.['required']">L'adresse email est
                        requise.</div>
                    <div *ngIf="isSubmitted &&loginForm.get('username')?.errors?.['email']">Veuillez entrer une adresse
                        e-mail.
                    </div>
                </div>
            </div>

            <!-- Champ pour le mot de passe -->
            <div class="mb-6">
                <label for="password" class="block text-sm font-medium ">Mot de passe</label>
                <input id="password" type="password" formControlName="password"
                    class="mt-1 block w-full px-3 py-2 border border-border rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary "
                    placeholder="Entrez votre mot de passe" />
                <div *ngIf="isSubmitted && loginForm.get('password')?.invalid && loginForm.get('password')"
                    class="text-red-500 text-sm pt-2">
                    <div *ngIf="isSubmitted &&loginForm.get('password')?.errors?.['required']">Le mot de passe est
                        requis.</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                        Le mot de passe doit contenir au moins 8 caractères.
                    </div>
                </div>
            </div>

            <!-- Bouton de connexion -->
            <div class="flex flex-col items-center ">
                <button type="submit"
                    class="bg-primary text-white px-4 py-2 rounded-md shadow-sm ">
                    Se connecter
                </button>
          <div class="flex gap-6 justify-center mt-4">
                <p class="text-primary">Connection</p>
                <a [routerLink]="['signup']" class=" hover:text-primary-light">Création compte</a>
          </div>
            </div>
        </form>
    </div>
</div>
