<form [formGroup]="rideShareForm" (ngSubmit)="updateRideShare()" class="space-y-6">
  <!-- Heure de départ -->
  <div>
    <label for="departureTime" class="block text-sm font-medium ">Heure de départ</label>
    <input type="datetime-local" id="departureTime" formControlName="departureTime"
           class="mt-1 block w-full px-3 py-2 border border-border rounded-md  focus:outline-none focus:ring-primary focus:border-primary sm:text-sm"
           required />
  </div>

  <!-- Heure d'arrivée -->
  <div>
    <label for="arrivalTime" class="block text-sm font-medium ">Heure d'arrivée</label>
    <input type="datetime-local" id="arrivalTime" formControlName="arrivalTime"
           class="mt-1 block w-full px-3 py-2 border border-border rounded-md  focus:outline-none focus:ring-primary focus:border-primary sm:text-sm"
           required />
  </div>

  <!-- Adresse de départ -->
  <div formGroupName="departureAddress">
    <label class="block text-sm font-medium ">Adresse de départ</label>
    <div class="mt-1 grid grid-cols-4 gap-2">
      <input type="number" placeholder="Numéro" formControlName="number"
             class="col-span-1 px-3 py-2 border border-border rounded-md" required />
      <input type="text" placeholder="Rue" formControlName="street"
             class="col-span-1 px-3 py-2 border border-border rounded-md" required />
      <input type="text" placeholder="Code Postal" formControlName="code"
             class="col-span-1 px-3 py-2 border border-border rounded-md" required />
      <input type="text" placeholder="Ville" formControlName="city"
             class="col-span-1 px-3 py-2 border border-border rounded-md" required />
    </div>
  </div>

  <!-- Adresse d'arrivée -->
  <div formGroupName="arrivalAddress">
    <label class="block text-sm font-medium ">Adresse d'arrivée</label>
    <div class="mt-1 grid grid-cols-4 gap-2">
      <input type="number" placeholder="Numéro" formControlName="number"
             class="col-span-1 px-3 py-2 border border-border rounded-md" required />
      <input type="text" placeholder="Rue" formControlName="street"
             class="col-span-1 px-3 py-2 border border-border rounded-md" required />
      <input type="text" placeholder="Code Postal" formControlName="code"
             class="col-span-1 px-3 py-2 border border-border rounded-md" required />
      <input type="text" placeholder="Ville" formControlName="city"
             class="col-span-1 px-3 py-2 border border-border rounded-md" required />
    </div>
  </div>

  <!-- Nombre de places disponibles -->
  <div>
    <label for="availableSeats" class="block text-sm font-medium ">Nombre de places
      disponibles</label>
    <input type="number" id="availableSeats" formControlName="availableSeats" min="1"
           class="mt-1 block w-full px-3 py-2 border border-border rounded-md  focus:outline-none focus:ring-primary focus:border-primary sm:text-sm"
           required />
  </div>

  <!-- Vehicle selection -->
  <div>
    <label for="vehicleId" class="block text-sm font-medium ">Véhicule</label>
    <select id="vehicleId" formControlName="vehicleId"
            class="mt-1 block w-full px-3 py-2 border border-border rounded-md  focus:outline-none focus:ring-primary focus:border-primary sm:text-sm"
            required>
      <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{ vehicle.brand }} -{{ vehicle.model }} -
        {{ vehicle.number }}
      </option>
    </select>
  </div>

  <div class="flex justify-center gap-4">
    <button type="button" class="btn-cancel" (click)="updateCompleted.emit()">Retour</button>
    <button type="submit"
            class="btn-validate">
      Mettre à jour
    </button>

  </div>
</form>
