    <form [formGroup]="vehicleForm" (ngSubmit)="saveChanges()" class="px-8" >
      <div class="mb-4">
        <label for="number" class="block text-md  ">
          Immatriculation du véhicule
        </label>
        <input id="number" type="text" formControlName="number"
          class="mt-1 block w-full border border-border rounded-md  p-2 focus:outline-none focus:primary focus:border-indigo-500"
          placeholder="Entrez le numéro du véhicule" />
        <div *ngIf="vehicleForm.get('number')?.invalid && vehicleForm.get('number')?.touched"
          class="text-error text-sm mt-1">
          <div *ngIf="vehicleForm.get('number')?.errors?.['required']">
            Le numéro du véhicule est requis.
          </div>
          <div *ngIf="vehicleForm.get('number')?.touched && vehicleForm.get('number')?.errors?.['pattern']">
            Le numéro doit respecter le format suivant : FF-855-BJ.
          </div>
        </div>
      </div>

      <!-- Champ pour la marque du véhicule -->
      <div class="mb-4">
        <label for="brand" class="block text-md  ">
          Marque du véhicule
        </label>
        <input id="brand" type="text" formControlName="brand"
          class="mt-1 block w-full border border-border rounded-md  p-2 focus:outline-none focus:primary focus:border-indigo-500 top-5 text-transform: capitalize"
          placeholder="Entrez la marque" />
        <div *ngIf="vehicleForm.get('brand')?.invalid && vehicleForm.get('brand')?.touched"
          class="text-error text-sm mt-1">
          La marque du véhicule est requise.
        </div>
      </div>

      <!-- Champ pour le modèle du véhicule -->
      <div class="mb-4">
        <label for="model" class="block text-md  ">
          Modèle du véhicule
        </label>
        <input id="model" type="text" formControlName="model"
          class="mt-1 block w-full border border-border rounded-md  p-2 focus:outline-none focus:primary focus:border-indigo-500 text-transform: capitalize"
          placeholder="Entrez le modèle" />
        <div *ngIf="vehicleForm.get('model')?.invalid && vehicleForm.get('model')?.touched"
          class="text-error text-sm mt-1">
          Le modèle du véhicule est requis.
        </div>
      </div>

      <!-- Champ pour le nombre de sièges -->
      <div class="mb-4">
        <label for="seats" class="block text-md  ">
          Nombre de sièges
        </label>
        <input id="seats" type="number" formControlName="seats"
          class="mt-1 block w-full border border-border rounded-md  p-2 focus:outline-none focus:primary focus:border-indigo-500  "
          min="1" />
        <div *ngIf="vehicleForm.get('seats')?.invalid && vehicleForm.get('seats')?.touched"
          class="text-error text-sm mt-1">
          Veuillez entrer un nombre de sièges valide (minimum 1).
        </div>
      </div>

      <!-- Message d'erreur global -->
      <div *ngIf="errorMessage" class="mb-4 text-error text-sm">
        {{ errorMessage }}
      </div>

      <div class="flex justify-end space-x-2">
      <button type="button" (click)="cancel()"
              class="btn-cancel">
        Annuler
      </button>
      <button type="submit"
              class="btn-validate">
        Sauvegarder
      </button>
    </div>
    </form>
