<div class="mt-10 container mx-auto p-6 max-w-lg bg-white rounded-xl shadow-lg border border-border">
  <div *ngIf="vehicle" class="flex flex-col items-center text-center">
    <img *ngIf="vehicle.picUrl" [src]="vehicle.picUrl" alt="{{ vehicle.brand }} {{ vehicle.model }}"
      class="w-full h-48 object-cover rounded-lg shadow-md mb-4">
    <div class="flex gap-2 items-center">
    <h2 class="text-2xl font-semibold ">{{ vehicle.brand }} {{ vehicle.model }}</h2>
    <p class="text-md font-medium  mt-1"> {{ vehicle.number }}</p>
    </div>
    <p class="text-md font-medium  mt-4">Du
{{ startTime | date: 'dd/MM/yyyy ' }} à {{ startTime | date: 'HH:mm' }}
    </p>
    <p class="text-md font-medium ">au
      {{ endTime | date: 'dd/MM/yyyy ' }} à {{ endTime | date: 'HH:mm' }}
    </p>

    <div class="flex gap-4 mt-6">
      <button [routerLink]="['/company-vehicles/status-and-booking-dates']"
        class="btn-cancel">
        Annuler
      </button>
      <button (click)="confirmReservation()"
        class="btn-validate">
        Confirmer réservation
      </button>
    </div>
  </div>
</div>
