<li class="bg-white shadow-md rounded-lg p-3 flex justify-between space-x-4">
  <div class="flex space-x-4">
    <img *ngIf="vehicle.picUrl" [src]="vehicle.picUrl" [alt]="vehicle.brand + ' ' + vehicle.model"
         class="w-32 h-20 object-cover rounded-lg shadow-sm" />

    <div class="flex flex-col space-y-1">
      <div class="flex items-center space-x-2">
        <p class="text-lg font-semibold">{{ vehicle.brand }} - {{ vehicle.model }}</p>
        <p class="text-sm">{{ vehicle.number }}</p>
      </div>
      <div class="text-xs flex items-center space-x-2">
        <p>{{ vehicle.category | translateVehicleCategory }} - </p>
        <p>{{ vehicle.motor | translateMotor }} - </p>
        <div class="flex items-center">
          <p class="mr-1">{{ vehicle.co2PerKm }}</p>
          <span>CO₂/km</span>
        </div>
      </div>
      <div class="flex space-x-2">
        <div class="flex items-center text-sm">
          <span class="mr-1">Places :</span>
          <p>{{ vehicle.seats }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col space-y-3">
    <button [routerLink]="['/bookings-create', vehicle.id]" [queryParams]="{ startTime, endTime }"
            class="btn-details-rounded">
      <lucide-icon name="ArrowUpRight" [strokeWidth]="2" class="w-5 h-5" aria-label="ArrowUpRight"></lucide-icon>
    </button>
  </div>
</li>
