<nav class="bg-white border-b border-border">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center relative">
        <a class="text-lg font-semibold text-gray-800" href="#">MonApp</a>

        <div class="hidden md:flex space-x-4 items-center" id="navbarNav">
          <lucide-icon name="Search" [strokeWidth]="1" class="w-5 h-5" aria-label="Recherche"></lucide-icon>
            <a class="text-gray-600 hover:text-gray-800" routerLink="/rideshares/search"
          routerLinkActive="text-blue-500">Rechercher</a>
          <lucide-icon name="Route" [strokeWidth]="1" class="w-5 h-5" aria-label="Trajet"></lucide-icon>
          <a class="text-gray-600 hover:text-gray-800" routerLink="/rideshares/create"
                routerLinkActive="text-blue-500">Publier
                trajet</a>
          <lucide-icon name="CarFront" [strokeWidth]="1" class="w-5 h-5" aria-label="Véhicules de service"></lucide-icon>
          <a class="text-gray-600 hover:text-gray-800" routerLink="/company-vehicles/status-and-booking-dates"
                routerLinkActive="text-blue-500">Véhicules de service</a>

          <div class="absolute top-12 right-0">
            <app-dropdown *ngIf="currentUser$ | async as user" [user]="user" (logout)="logout()"></app-dropdown>
          </div>
        </div>
    </div>
</nav>
