<div *ngIf="(rideshares$ | async) as rideshares">
    <div class="flex justify-center space-x-4 border-b border-gray-300 mb-4">
        <div (click)="togglePastRideshares(false)"
            [class]="past ? 'text-gray-500 border-transparent' : 'text-indigo-600 border-indigo-600'"
            class="cursor-pointer px-4 py-2 border-b-2 font-medium transition duration-300">
            Vos covoiturages
        </div>
        <div (click)="togglePastRideshares(true)"
            [class]="past ? 'text-indigo-600 border-indigo-600' : 'text-gray-500 border-transparent'"
            class="cursor-pointer px-4 py-2 border-b-2 font-medium transition duration-300">
            Historique des covoiturages
        </div>
    </div>

    <div class="flex flex-col mx-auto gap-6 mt-10 w-64">
        <div *ngFor="let rideshare of rideshares">
            <app-rideshare-passenger-reservation-item
                [rideshare]="rideshare"></app-rideshare-passenger-reservation-item>
        </div>
    </div>

    <!-- Messages en cas de liste vide -->
    <p *ngIf="rideshares.length === 0 && !past" class="text-center text-gray-500 mt-6">
        Vous n'avez pas encore réservé de covoiturage.
    </p>
    <p *ngIf="rideshares.length === 0 && past" class="text-center text-gray-500 mt-6">
        Vous n'avez pas encore de covoiturages passés.
    </p>
</div>
