<div *ngIf="(rideshares$ | async) as rideshares">
    <div class="flex justify-around gap-4 my-4 ">
        <div class="text-center mb-2">
            <button (click)="togglePastRideshares(false)"
                class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none transition mr-2">
                Vos covoiturages
            </button>
            <button (click)="togglePastRideshares(true)"
                class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none transition">
                Historique des covoiturages
            </button>
        </div>
    </div>

    <div class="flex flex-col mx-auto gap-6 mt-10 w-64 ">
        <div *ngFor="let rideshare of rideshares">
            <app-rideshare-passenger-reservation-item
                [rideshare]="rideshare"></app-rideshare-passenger-reservation-item>
        </div>
    </div>

    <p *ngIf="rideshares.length === 0 && !past" class="text-center text-gray-500 mt-6">
        Vous n'avez pas encore réservé de covoiturage.
    </p>
    <p *ngIf="rideshares.length === 0 && past " class="text-center text-gray-500 mt-6">
        Vous n'avez pas encore de covoiturages passés.
    </p>
</div>