<div class="bg-background  min-h-screen ">
  <app-navbar class="sticky top-0 left-0 w-full z-10"></app-navbar>
    <router-outlet></router-outlet>
  <main class="main flex justify-center items-center
   p-4  max-w-[600px] mx-auto flex-1 ">
    <p-toast></p-toast>
  </main>
</div>
  <footer
    class="mt-6 fixed bottom-0 left-0 w-full z-10 h-10 bg-background font-sans tex-lg text-center flex items-center justify-center">
    <p class="p-4"> <span class=" text-secondary">Team</span><span class=" text-primary">Wise</span></p>
  <p class="text-xs">2025</p>
  </footer>
