<div class="max-w-4xl mx-auto p-6">
  <h2 class="text-2xl font-semibold mb-4">Liste des réservations</h2>

  <div class="flex space-x-4 mb-6">
    <button (click)="onTypeChange('past')" [class.bg-blue-500]="bookingType === 'past'"
      [class.text-white]="bookingType === 'past'" [class.bg-gray-200]="bookingType !== 'past'"
      class="py-2 px-4 rounded-lg transition">
      Passées
    </button>
    <button (click)="onTypeChange('now')" [class.bg-blue-500]="bookingType === 'now'"
      [class.text-white]="bookingType === 'now'" [class.bg-gray-200]="bookingType !== 'now'"
      class="py-2 px-4 rounded-lg transition">
      Actuelles
    </button>
    <button (click)="onTypeChange('future')" [class.bg-blue-500]="bookingType === 'future'"
      [class.text-white]="bookingType === 'future'" [class.bg-gray-200]="bookingType !== 'future'"
      class="py-2 px-4 rounded-lg transition">
      Futures
    </button>
  </div>

  <div *ngIf="errorMessage" class="bg-red-100 text-red-700 p-4 mb-4 rounded">
    {{ errorMessage }}
  </div>

  <div *ngFor="let booking of bookings" class="bg-white shadow-md rounded-lg p-4 mb-4">
    <h3 class="text-lg font-semibold">Réservation #{{ booking.id }}</h3>
    <p class="text-gray-700"><strong>Véhicule :</strong> {{ booking.vehicle.brand }} {{ booking.vehicle.model }}</p>
    <p class="text-gray-700"><strong>Début :</strong> {{ booking.startTime | dateFormatter }}</p>
    <p class="text-gray-700"><strong>Fin :</strong> {{ booking.endTime | dateFormatter}}</p>
    <p class="text-gray-700">
      <strong>Réservé par :</strong> {{ booking.employee.firstName }} {{ booking.employee.lastName }}
    </p>

  </div>

  <div *ngIf="!bookings.length && !errorMessage" class="text-gray-500">
    Aucune réservation à cette période.
  </div>
</div>