<div class="relative w-64 bg-white rounded shadow-lg">

  <div class="flex justify-between items-center space-x-2 px-6 py-4  font-semibold">
    <div class="flex items-center">
      <p class="text-md mr-2">
        Bienvenue {{ user?.firstName }}
      </p>
      <div
        class="flex items-center justify-center text-secondary-light hover:text-secondary-dark rounded transition-all duration-300"
      >
        <a
          routerLink="/messages"
          routerLinkActive="active"
          #rla="routerLinkActive"
        >
          <lucide-icon
            [name]="rla.isActive ? 'mail-open' : 'mail'"
            strokeWidth="1"
            class="w-6 h-6"
            aria-label="Messages"
          ></lucide-icon>
        </a>
      </div>

      <span *ngIf="unreadMessagesCount > 0"
            class="w-4 h-4 rounded-full bg-secondary mb-4 text-sm text-center text-neutral font-light badge">
    {{ unreadMessagesCount }}
  </span>
    </div>


    <button type="button"
            class="hover:text-primary focus:outline-none"
            (click)="toggleDropdown()">
      <lucide-icon
        [name]="menuOpen ? 'x' : 'align-justify'"
        strokeWidth="1"
        class="w-6 h-6"
        aria-label="menu-icon">
      </lucide-icon>
    </button>

  </div>

  <div *ngIf="menuOpen"
       class=" whitespace-nowrap">

    <ng-container *ngFor="let item of items">
      <div class="p-1">
        <a
          *ngIf="item.routerLink; else logoutTemplate"
          [routerLink]="item.routerLink"
          routerLinkActive="bg-primary-light text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center px-4 py-2 rounded-md space-x-2 hover:bg-primary-light hover:text-white transition">
          <lucide-icon [name]="item.icon" strokeWidth="1" class="w-5 h-5 mr-2"></lucide-icon>
          <span>{{ item.label }}</span>
        </a>

        <ng-template #logoutTemplate>
          <a *ngIf="item.isLogout"
             href="#"
             (click)="logout.emit()"
             class="flex items-center px-4 py-2 space-x-2 hover:bg-gray-100  transition">
            <lucide-icon [name]="item.icon" strokeWidth="1" class="w-5 h-5 mr-2"></lucide-icon>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
