<div *ngIf="rideShare">
    <h1>RideShare Details</h1>
    <div>
        <strong>ID:</strong> {{ rideShare.id }}
    </div>
    <div>
        <strong>Departure Time:</strong> {{ rideShare.departureTime | date:'short' }}
    </div>
    <div>
        <strong>Arrival Time:</strong> {{ rideShare.arrivalTime | date:'short' }}
    </div>
    <div>
        <strong>Departure Address:</strong>
        <div>
            <strong>Number:</strong> {{ rideShare.departureAddress.number }}
        </div>
        <div>
            <strong>Street:</strong> {{ rideShare.departureAddress.street }}
        </div>
        <div>
            <strong>Code:</strong> {{ rideShare.departureAddress.code }}
        </div>
        <div>
            <strong>City:</strong> {{ rideShare.departureAddress.city }}
        </div>
    </div>
    <div>
        <strong>Arrival Address:</strong>
        <div>
            <strong>Number:</strong> {{ rideShare.arrivalAddress.number }}
        </div>
        <div>
            <strong>Street:</strong> {{ rideShare.arrivalAddress.street }}
        </div>
        <div>
            <strong>Code:</strong> {{ rideShare.arrivalAddress.code }}
        </div>
        <div>
            <strong>City:</strong> {{ rideShare.arrivalAddress.city }}
        </div>
    </div>
    <div>
        <strong>Organizer:</strong>
        <div>
            <strong>First Name:</strong> {{ rideShare.organizer.firstName }}
        </div>
        <div>
            <strong>Last Name:</strong> {{ rideShare.organizer.lastName }}
        </div>
        <div>
            <strong>Gender:</strong> {{ rideShare.organizer.gender }}
        </div>
        <div>
            <strong>Phone:</strong> {{ rideShare.organizer.phone }}
        </div>
        <div>
            <strong>Email:</strong> {{ rideShare.organizer.email }}
        </div>
    </div>
    <div>
        <strong>Available Seats:</strong> {{ rideShare.availableSeats }}
    </div>
    <div>
        <strong>Vehicle:</strong>
        <div>
            <strong>Number:</strong> {{ rideShare.vehicle.number }}
        </div>
        <div>
            <strong>Brand:</strong> {{ rideShare.vehicle.brand }}
        </div>
        <div>
            <strong>Model:</strong> {{ rideShare.vehicle.model }}
        </div>
        <div>
            <strong>Seats:</strong> {{ rideShare.vehicle.seats }}
        </div>
        <div>
            <strong>Type:</strong> {{ rideShare.vehicle.type }}
        </div>

    </div>
    <div>
        <strong>Passengers:</strong>
        <ul>
            <li *ngFor="let passenger of rideShare.passengers">
                <div>
                    <strong>First Name:</strong> {{ passenger.firstName }}
                </div>
                <div>
                    <strong>Last Name:</strong> {{ passenger.lastName }}
                </div>
                <div>
                    <strong>Gender:</strong> {{ passenger.gender }}
                </div>
                <div>
                    <strong>Phone:</strong> {{ passenger.phone }}
                </div>
                <div>
                    <strong>Email:</strong> {{ passenger.email }}
                </div>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="!rideShare">
    <p>Loading...</p>
</div>