
<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()" class="px-8">
    <div class="mb-4 font-sans">
        <label for="number" class="block text-md font-medium ">
            Immatriculation
        </label>
        <input id="number" type="text" formControlName="number" appLicensePlate
            class="mt-1 block w-full border border-border rounded-md shadow-sm p-2 focus:outline-none focus:ring-primary focus:border-primary"
            placeholder="" />
        <div *ngIf="isSubmitted && vehicleForm.get('number')?.invalid && vehicleForm.get('number')" class="text-error text-sm mt-1">
            <div *ngIf="isSubmitted && vehicleForm.get('number')?.errors?.['required']">
                Le numéro d'immatriculation  est requis.
            </div>
            <div *ngIf="isSubmitted && vehicleForm.get('number')?.touched && vehicleForm.get('number')?.errors?.['pattern']">
                Le numéro d'immatriculation doit respecter le format suivant : FF-855-BJ.
            </div>
        </div>
    </div>

    <div class="mb-4">
        <label for="brand" class="block text-md font-medium ">
            Marque
        </label>
        <input id="brand" type="text" formControlName="brand" appCapitalize
            class="mt-1 block w-full border border-border rounded-md shadow-sm p-2 focus:outline-none focus:ring-primary focus:border-primary top-5 text-transform: capitalize"
            placeholder="" />
        <div *ngIf="isSubmitted && vehicleForm.get('brand')?.invalid && vehicleForm.get('brand')" class="text-error text-sm mt-1">
            La marque  est requise.
        </div>
    </div>

    <div class="mb-4">
        <label for="model" class="block text-md font-medium ">
            Modèle
        </label>
        <input id="model" type="text" formControlName="model" appCapitalize
            class="mt-1 block w-full border border-border rounded-md shadow-sm p-2 focus:outline-none focus:ring-primary focus:border-primary text-transform: capitalize"
            placeholder="" />
        <div *ngIf="isSubmitted && vehicleForm.get('model')?.invalid && vehicleForm.get('model')" class="text-error text-sm mt-1">
            Le modèle  est requis.
        </div>
    </div>

    <div class="mb-4">
        <label for="seats" class="block text-sm font-medium ">
            Nombre de sièges
        </label>
        <input id="seats" type="number" formControlName="seats"
            class="mt-1 block w-full border border-border rounded-md shadow-sm p-2 focus:outline-none focus:ring-primary focus:border-primary"
            min="5" />
        <div *ngIf="isSubmitted && vehicleForm.get('seats')?.invalid && vehicleForm.get('seats')" class="text-error text-sm mt-1">
            Veuillez entrer un nombre de sièges valide (minimum 1).
        </div>
    </div>

    <!-- Message d'erreur global -->
    <div *ngIf="errorMessage" class="mb-4 text-error text-sm">
        {{ errorMessage }}
    </div>

    <!-- Bouton de soumission -->
  <div class="flex justify-end space-x-2">
    <button type="button" (click)="onCancel()"
            class="btn-cancel">
      Annuler
    </button>
    <button type="submit"
            class="btn-validate">
      Créer le véhicule
    </button>
  </div>
</form>
