<nav class="bg-white border-b border-gray-200">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <a class="text-lg font-semibold text-gray-800" href="#">MonApp</a>

        <div class="hidden md:flex space-x-4 items-center" id="navbarNav">
            <a class="text-gray-600 hover:text-gray-800" routerLink="/rideshares/search"
                routerLinkActive="text-blue-500">Rechercher</a>
            <a class="text-gray-600 hover:text-gray-800" routerLink="/rideshares/create"
                routerLinkActive="text-blue-500">Publier
                trajet</a>
            <a class="text-gray-600 hover:text-gray-800" routerLink="/company-vehicles/status-and-booking-dates"
                routerLinkActive="text-blue-500">Véhicules de service</a>

            <div *ngIf="currentUser$ | async as user" class="relative flex items-center space-x-4">
                <span class="text-gray-800 cursor-pointer" (click)="toggleDropdown()">
                    Bonjour, {{ user.firstName }}!
                </span>
                <div class="relative">
                    <button class="text-gray-600 hover:text-gray-800 focus:outline-none" (click)="toggleDropdown()">
                        ▼
                    </button>
                    <div *ngIf="menuOpen"
                        class="absolute right-0 bg-white border border-gray-200 shadow-lg mt-2 w-48 z-10">
                        <a routerLink="/profile" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Mon Profil</a>
                        <a routerLink="/company-vehicles"
                            class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Gestion véhicules</a>
                        <a (click)="logout()" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>