<p>booking-employee-update works!</p>
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Modification de réservation du véhicule</h1>
  
    <div *ngIf="vehicle">
      <h2 class="text-lg font-semibold">{{ vehicle.brand }} {{ vehicle.model }}</h2>
      <p class="text-md font-medium">Numéro: {{ vehicle.number }}</p>
      <p class="text-sm text-gray-500">Statut: {{ vehicle.status }}</p>
      <p class="text-md font-medium">Heure de début: <span class="font-bold">{{ startTime | dateFormatter }}</span></p>
      <p class="text-md font-medium">Heure de fin: <span class="font-bold">{{ endTime | dateFormatter }}</span></p>
  
      <button (click)="updateBooking()"
        class="mt-4 inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none">
        Confirmer réservation
      </button>
    </div>