<div class="max-w-3/4 mx-auto">
  <div class="flex justify-center space-x-8 mb-6">

    <button (click)="onTypeChange('past')"
            [class]="bookingType === 'past' ? 'bg-primary-light text-neutral shadow-lg  hover:text-white ' : ' bg-none'"
            class=" p-2 rounded-full hover:text-primary-light transition">
      <lucide-icon
        name="ClipboardCopy"
        [strokeWidth]="1"
        class="w-7 h-7"
        aria-label="ClipboardCopy"
      ></lucide-icon>
    </button>

    <button (click)="onTypeChange('now')"
            [class]="bookingType === 'now' ? 'bg-primary-light text-neutral shadow-lg hover:text-white' : ' bg-none'"
            class=" p-2 rounded-full hover:text-primary-light transition">
      <lucide-icon
        name="Clipboard"
        [strokeWidth]="1"
        class="w-7 h-7"
        aria-label="ClipboardCopy"
      ></lucide-icon>
    </button>

    <button (click)="onTypeChange('future')"
            [class]="bookingType === 'future' ? 'bg-primary-light text-neutral shadow-lg hover:text-white' : ' bg-none'"
            class=" p-2 rounded-full hover:text-primary-light transition">
      <lucide-icon
        name="ClipboardPaste"
        [strokeWidth]="1"
        class="w-7 h-7"
        aria-label="ClipboardPaste"
      ></lucide-icon>
    </button>
  </div>

  <div *ngIf="bookings.length > 0" class="flex flex-col space-y-4">
  <app-booking-admin-item *ngFor="let booking of bookings" [booking]="booking">
  </app-booking-admin-item>
  </div>


  <div *ngIf="!bookings.length && !errorMessage" class="flex justify-center">
    Aucune réservation à cette période.
  </div>
</div>
