<div class="max-w-lg mx-auto pt-16">
  <div class="flex items-center ">
    <div class="h-[1px] w-16 bg-primary-light"></div>
    <h1 class="text-primary font-medium text-[2rem] mx-4 ">Messages</h1>
  </div>
  <!-- Liste des messages -->
  <div *ngIf="messages.length > 0; else noMessages" class="grid grid-cols-1 gap-4">
    <app-message-item
      *ngFor="let message of messages"
      [message]="message"
      (deleteMessage)="deleteMessage($event)"
      (viewDetails)="viewMessageDetails($event)"
    >
    </app-message-item>
  </div>

  <!-- Si aucun message -->
  <ng-template #noMessages>
    <p class="text-gray-500 text-center">Aucun message disponible.</p>
  </ng-template>

  <!-- Dialog pour les détails -->
  <p-dialog [(visible)]="displayDialog" [modal]="true" [closable]="true" >
    <ng-template pTemplate="content">
      <app-message-details
        *ngIf="selectedMessage"
        [message]="selectedMessage"
        (closeDialog)="onCloseDialog()">
      </app-message-details>
    </ng-template>
  </p-dialog>
</div>
