<li class="p-4 bg-neutral border border-border rounded-md flex justify-between items-center shadow-sm">
    <div>
        <div class="flex items-center space-x-2">
           <span class="font-medium text-lg">{{ vehicle.brand }} - </span><span class="font-medium text-lg">{{ vehicle.model }} - </span><span class="text-base">{{ vehicle.number }}</span>
        </div>
      <div class="text-secondary-light flex gap-2 items-center pt-2">
  <span>
    <lucide-icon name="ContactRound" [strokeWidth]="1"  class="w-6 h-6 " aria-label="ContactRound">
    </lucide-icon>
  </span>
   <p>places</p>
        <span>{{ vehicle.seats }}</span>
      </div>
    </div>
    <div class="flex space-x-5">
        <lucide-icon
          name="Pen"
          [strokeWidth]="1"
          class="w-6 h-6 cursor-pointer hover:text-text"
          aria-label="Edit"
          (click)="onEdit()"
          tabindex="1"
          (keydown.enter)="onEdit()"
        >
      </lucide-icon>
        <lucide-icon
          name="trash-2"
          [strokeWidth]="1"
          class="w-6 h-6 cursor-pointer hover:text-text"
          aria-label="Trash"
          (click)="showConfirmation()"
          tabindex="1"
          (keydown.enter)="onEdit()"
        >
        </lucide-icon>

    </div>
</li>

<div class="fixed inset-0 z-40 bg-gray-500 bg-opacity-30 bg-blur " *ngIf="isConfirmVisible"></div>
<div
  class="  fixed inset-0 flex items-center justify-center z-50 shadow-md "
  *ngIf="isConfirmVisible">
  <app-confirm-dialog
    [visible]="isConfirmVisible"
    [message]="confirmationMessage"
    [confirmButtonText]="confirmationConfirmText"
    [cancelButtonText]="confirmationCancelText"
    (confirm)="onConfirmCancel()"
    (cancel)="onCancelCancel()">
  </app-confirm-dialog>
</div>

