<div class="bg-white rounded-lg shadow-lg py-3 px-4 hover:shadow-xl transition-shadow duration-300 flex items-center justify-between">
  <div class="">
    <h2 class="font-medium ">{{ employee.firstName }} {{ employee.lastName }}</h2>
    <p class="font-light ">{{ employee.email }}</p>
  </div>
    <div class="">
      <div
        class="pb-1 cursor-pointer"
        (click)="toggleAdminRole(!hasAdminRole())"
        aria-label="Toggle Admin Role"
      >
        <lucide-icon
          [name]="hasAdminRole() ? 'ShieldCheck' : 'ShieldOff'"
          [strokeWidth]="1"
          [ngClass]="hasAdminRole() ? 'text-green-500' : 'text-primary'"
          class="w-7 h-7"
          aria-label="Admin Role Status"
        ></lucide-icon>
      </div>
    </div>
</div>
