<div
  class="bg-white shadow-lg rounded-md p-4 w-full text-left hover:shadow-xl transition-shadow  focus:outline-none transition:transition-all duration-300"
  aria-label="Voir les détails du covoiturage"
>
  <div class="flex justify-between">
    <div class="flex flex-col ">
      <div class="flex items-center gap-2">
        <div class="pb-1">
          <lucide-icon
            name="MapPin"
            [strokeWidth]="1"
            class="w-4 h-4 text-primary"
            aria-label="map pin"
          ></lucide-icon>
        </div>
        <p class="text-md ">{{ rideshare.departureAddress.city }}</p>
        <p class="text-sm font-light text-primary">{{ rideshare.departureTime | dateFormatter }}</p>
      </div>
      <div class="w-[1px] h-8 ml-2 bg-primary-light"></div>
      <div class="flex items-center gap-2">
        <div class="pb-1">
          <lucide-icon
            name="MapPin"
            [strokeWidth]="1"
            class="w-4 h-4 text-primary"
            aria-label="map pin"
          ></lucide-icon>
        </div>
        <p class="text-md ">{{ rideshare.arrivalAddress.city }}</p>
        <p class="text-sm font-light text-primary">{{ rideshare.arrivalTime | dateFormatter }}</p>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex justify-end">
        <button (click)="onCheckDetails()" class="btn-details-rounded cursor-pointer">
          <lucide-icon
            name="ArrowUpRight"
            [strokeWidth]="2"
            class="w-4 h-4"
            aria-label="Eye"
          ></lucide-icon>
        </button>
      </div>

      <div class="flex justify-end">
        <div class="relative inline-block h-12 ">
          <lucide-icon
            name="ContactRound"
            [strokeWidth]="1"
            class="w-7 h-7 text-secondary-light mt-4 mr-4"
            aria-label="ContactRound"
          ></lucide-icon>
          <p-badge
            value="{{ rideshare.availableSeats }}"
            class="absolute top-0 right-0 text-xs font-extralight text-neutral "
            severity="warning"
          ></p-badge>
        </div>

      </div>
    </div>
  </div>
</div>

  <p-dialog
    [(visible)]="isDialogVisible"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [closable]="true"
    (onHide)="isDialogVisible = false"
    [header]="'Détails du covoiturage'"
  >
    <app-rideshare-passenger-reservation-details
      [id]="rideshare.id"
      (closeDialog)="onCloseDialog()"
    >
    </app-rideshare-passenger-reservation-details>
  </p-dialog>

