<div class="booking-list p-6 max-w-4xl mx-auto">
    <!-- Conteneur des onglets -->
    <div class="flex justify-center space-x-4 border-b border-gray-300 mb-8">
        <!-- Onglet "Réservations en cours" -->
        <div (click)="toggleToCurrentBookings()"
            [class]="past ? 'text-gray-500 border-transparent' : 'text-indigo-600 border-indigo-600'"
            class="cursor-pointer px-4 py-2 border-b-2 font-medium transition duration-300">
            Réservations en cours
        </div>
        <!-- Onglet "Historique des réservations" -->
        <div (click)="toggleToPastBookings()"
            [class]="past ? 'text-indigo-600 border-indigo-600' : 'text-gray-500 border-transparent'"
            class="cursor-pointer px-4 py-2 border-b-2 font-medium transition duration-300">
            Historique des réservations
        </div>
    </div>

    <!-- Contenu principal -->
    <div *ngIf="bookings$ | async as bookings">
        <!-- Si des réservations sont disponibles -->
        <ul *ngIf="bookings.length > 0" class="space-y-4">
            <li *ngFor="let booking of bookings" class="bg-white shadow rounded-lg p-6">
                <div class="booking-item grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <app-booking-employee-item
                      [booking]="booking"
                      [isPast]="past"
                      (bookingDeleted)="loadBookings()"
                      (modifyBooking)="openUpdateDialog($event)">
                    ></app-booking-employee-item>
                </div>
            </li>
        </ul>

        <!-- Si aucune réservation n'est disponible -->
        <div *ngIf="bookings.length === 0" class="text-center text-gray-500 mt-6">
            <p *ngIf="!past">Vous n'avez pas encore réservé de véhicule de service.</p>
            <p *ngIf="past">Vous n'avez pas d'historique de réservations.</p>
        </div>
    </div>

    <!-- Si l'observable `bookings$` n'a pas encore de données -->
    <p *ngIf="!(bookings$ | async)" class="text-center text-gray-500 mt-6">
        Chargement des réservations...
    </p>
</div>

<!-- Dialogue de mise à jour -->
<p-dialog header="Modifier la Réservation"
          [(visible)]="displayUpdateDialog"
          [modal]="true"
          [style]="{ width: '50vw' }"
          [closable]="true"
          (onHide)="closeUpdateDialog()"
>
  <ng-template pTemplate="content">
  <app-booking-employee-update
    [booking]="selectedBooking"
    (updateComplete)="onBookingUpdated()"
    (cancelUpdate)="closeUpdateDialog()">
  </app-booking-employee-update>
  </ng-template>
</p-dialog>
