<div class="max-w-lg mx-auto h-full my-14 ">
  <div class="flex items-center ">
    <div class="h-[1px] w-16 bg-primary-light"></div>
    <h1 class="text-primary font-medium text-[2rem] mx-4 ">Réservations véhicules</h1>
  </div>

  <div class="flex justify-start space-x-4 border-b border-border mt-6 text-lg">
    <div (click)="toggleToCurrentBookings()"
         [class]="past ? ' border-transparent' : 'text-primary border-primary'"
         class="cursor-pointer px-4 py-2 border-b-2 font-medium transition duration-300">
      En cours
    </div>

    <div (click)="toggleToPastBookings()"
         [class]="past ? 'text-primary border-primary' : ' border-transparent'"
         class="cursor-pointer px-4 py-2 border-b-2 font-medium transition duration-300">
      Historique
    </div>
  </div>

  <div *ngIf="bookings$ | async as bookings">

    <div *ngIf="bookings.length > 0" class="flex flex-col mx-auto mt-6 space-y-4">
      <app-booking-employee-item
        *ngFor="let booking of bookings"
        [booking]="booking"
        [isPast]="past"
        (bookingDeleted)="loadBookings()"
        (modifyBooking)="openUpdateDialog($event)">
        >
      </app-booking-employee-item>
    </div>

    <div *ngIf="bookings.length === 0" class="text-center mt-6">
      <p *ngIf="!past">Vous n'avez pas de réservation de véhicule en cours.</p>
      <p *ngIf="past">Vous n'avez pas de réservation de véhicule passées.</p>
    </div>
  </div>
</div>

<p-dialog header="Modifier la Réservation"
          [(visible)]="displayUpdateDialog"
          [modal]="true"
          [style]="{ width: '45vw' }"
          [closable]="true"
          [focusOnShow]="false"
          (onHide)="closeUpdateDialog()"
>
  <ng-template pTemplate="content">
    <app-booking-employee-update
      [booking]="selectedBooking"
      (updateComplete)="onBookingUpdated()"
      (cancelUpdate)="closeUpdateDialog()">
    </app-booking-employee-update>
  </ng-template>
</p-dialog>
