    <div *ngIf="rideShare$ | async as rideShare" >
      <div class="p-6 space-y-5">
        <div class="flex items-center gap-2 text-secondary-light mb-2">
          <lucide-icon
            name="Map"
            [strokeWidth]="1"
            class="w-6 h-6 "
            aria-label="Map"
          ></lucide-icon>
          <h3 class="text-lg">Itinéraire</h3>
        </div>
        <div class="flex items-start gap-14">
          <div class="flex gap-2">
            <div class="flex flex-col items-center justify-center">
              <lucide-icon
                name="MapPin"
                [strokeWidth]="1"
                class="w-5 h-5 text-primary-light"
                aria-label="map pin"
              ></lucide-icon>
            </div>
            <div class="flex flex-col items-start">
              <p class=" font-light ">{{ rideShare.departureTime | dateFormatter }}</p>
              <p class="">{{ rideShare.departureAddress.number }} {{ rideShare.departureAddress.street }}</p>
              <p> {{ rideShare.departureAddress.code }} - {{ rideShare.departureAddress.city }}</p>
            </div>
          </div>

          <div class="flex gap-2">
            <div class="flex flex-col items-center justify-center">
              <lucide-icon
                name="MapPin"
                [strokeWidth]="1"
                class="w-5 h-5 text-primary-light"
                aria-label="map pin"
              ></lucide-icon>
            </div>
            <div class="flex flex-col items-start">
              <p class=" font-light ">{{ rideShare.arrivalTime | dateFormatter }}</p>
              <p class="">{{ rideShare.arrivalAddress.number }} {{ rideShare.arrivalAddress.street }}</p>
              <p> {{ rideShare.arrivalAddress.code }} - {{ rideShare.arrivalAddress.city }}</p>
            </div>
          </div>
        </div>

        <div>
          <div class="flex items-center gap-2 text-secondary-light mb-2">

            <lucide-icon
              name="CircleUserRound"
              [strokeWidth]="1"
              class="w-6 h-6 "
              aria-label="SquareUserRound"
            ></lucide-icon>
            <h3 class="">Organisateur</h3>
          </div>
          <div class="flex items-center gap-3">
            <div class="flex gap-1 items-center">
              <img
                [src]="rideShare.organizer.gender === 'male' ? 'assets/images/avatar-m.png' : 'assets/images/avatar-f.png'"
                alt="Avatar"
                class="w-8 h-8 rounded-full"
              />
              <p class="font-medium">{{ rideShare.organizer.firstName }} {{ rideShare.organizer.lastName }}</p>
            </div>
            <div class="flex gap-1 items-center">
              <lucide-icon
                name="Smartphone"
                [strokeWidth]="1"
                class="w-6 h-6 "
                aria-label="Smartphone"
              ></lucide-icon>
              <p>{{ rideShare.organizer.phone }} </p>
            </div>
            <div class="flex gap-1 items-center">
              <lucide-icon
                name="Mail"
                [strokeWidth]="1"
                class="w-6 h-6 "
                aria-label="Mail"
              ></lucide-icon>
              <p>{{ rideShare.organizer.email }} </p>
            </div>
          </div>
        </div>


        <div>
          <div class="flex items-center gap-2 text-secondary-light">
            <lucide-icon
              name="Car"
              [strokeWidth]="1"
              class="w-6 h-6 "
              aria-label="Car"
            ></lucide-icon>
            <h3 class="  ">Véhicule</h3>
          </div>
          <div class="flex gap-2">
            <p>{{ rideShare.vehicle.brand }} -</p>
            <p>{{ rideShare.vehicle.model }}</p>
            <p>{{ rideShare.vehicle.number }}</p>
          </div>
        </div>

        <div>
          <div class="flex items-center gap-2 text-secondary-light mb-2">
            <lucide-icon
              name="UsersRound"
              [strokeWidth]="1"
              class="w-5 h-5"
              aria-label="UsersRound"
            ></lucide-icon>
            <h3 class="text-lg">Passagers</h3>
          </div>
          <div *ngIf="rideShare.passengers && rideShare.passengers.length > 0; else noPassengers">
            <ul class="flex space-x-4">
              <li *ngFor="let passenger of rideShare.passengers" class="flex items-center gap-1">
                <img
                  [src]="passenger.gender === 'male' ? 'assets/images/avatar-m.png' : 'assets/images/avatar-f.png'"
                  alt="Avatar"
                  class="w-8 h-8 rounded-full"
                />
                <p class="">{{ passenger.firstName }} {{ passenger.lastName }}</p>
              </li>
            </ul>
          </div>
          <ng-template #noPassengers>
            <p class="text-sm font-light">Pas de passagers inscrits pour le moment</p>
          </ng-template>
        </div>
        <div class="flex justify-center gap-2">
        <button (click)="goBack()"
            class="btn-cancel">
            Retourner à la recherche
        </button>
        <button (click)="joinAsPassenger()"
            class="btn-validate">
            Confirmer la Réservation
        </button>
        </div>
    </div>
