<div class="container mx-auto py-20 px-96">
  <div class="flex items-center mb-4">
  <div class="h-[1px] w-16 bg-secondary-light"></div>
  <h1 class="text-secondary font-medium text-[2rem] mx-4 ">Publier votre trajet</h1>
  </div>
  <form [formGroup]="rideShareForm" (ngSubmit)="createNewRideShare()" class="space-y-6 px-4">
    <div>
      <label for="departureTime" class="block text-md font-medium ">Heure de départ</label>
      <div>
        <p-calendar   id="departureTime"
                      formControlName="departureTime" [showTime]="true" hourFormat="24"
          [minDate]="today" placeholder=""
          class=" bg-white mt-1 block w-full px-3 py-2 border border-border rounded-md  focus:outline-none focus:ring-primary focus:border-primary sm:text-md"
          required>
        </p-calendar>
        <div *ngIf="rideShareForm.get('departureTime')?.invalid && rideShareForm.get('departureTime')"
          class="text-error text-sm mt-1">
          <div *ngIf="isSubmitted && rideShareForm.get('departureTime')?.errors?.['required']">
            L'heure de départ est requise.
          </div>
        </div>
      </div>
    </div>

    <div formGroupName="departureAddress">
      <label class="block text-md font-medium ">Adresse de départ</label>
      <div class="mt-1 flex gap-2">
        <div class="w-1/4">
          <input type="number" placeholder="Numéro" formControlName="number" appAddressCapitalize
                 class="w-full px-3 py-2 border border-border rounded-md text-sm" required />
          <div
            *ngIf="isSubmitted && rideShareForm.get('departureAddress.number')?.invalid && rideShareForm.get('departureAddress.number')"
            class="text-error text-sm mt-1">
            <div *ngIf="isSubmitted && rideShareForm.get('departureAddress.number')?.errors?.['required']">
              Le numéro est requis.
            </div>
            <div *ngIf="isSubmitted && rideShareForm.get('departureAddress.number')?.errors?.['pattern']">
              Le numéro doit contenir uniquement des chiffres.
            </div>
          </div>
        </div>
        <div class="w-3/4">
          <input type="text" placeholder="Rue" formControlName="street" appAddressCapitalize
            class="w-full px-3 py-2 border border-border rounded-md text-sm" required />
          <div
            *ngIf="isSubmitted && rideShareForm.get('departureAddress.street')?.invalid && rideShareForm.get('departureAddress.street')"
            class="text-error text-sm mt-1">
            <div *ngIf="isSubmitted && rideShareForm.get('departureAddress.street')?.errors?.['required']">
              La rue est requise.
            </div>
            <div *ngIf="isSubmitted && rideShareForm.get('departureAddress.street')?.errors?.['pattern']">
              La rue doit contenir uniquement des lettres.
            </div>
          </div>
        </div>
      </div>
      <div class="mt-2 flex gap-2">
        <div class="w-1/4">
          <input type="text" placeholder="Code" formControlName="code" appPostalCode
            class="w-full px-3 py-2 border border-border rounded-md text-sm" required />
          <div
            *ngIf="isSubmitted && rideShareForm.get('departureAddress.code')?.invalid && rideShareForm.get('departureAddress.code')"
            class="text-error text-sm mt-1">
            <div *ngIf="isSubmitted && rideShareForm.get('departureAddress.code')?.errors?.['required']">
              Le code postal est requis.
            </div>
            <div *ngIf="isSubmitted && rideShareForm.get('departureAddress.code')?.errors?.['pattern']">
              Le code postal doit être composé de 5 chiffres.
            </div>
          </div>
        </div>
        <div class="w-3/4">
          <input type="text" placeholder="Ville" formControlName="city" appAddressCapitalize
            class="w-full px-3 py-2 border border-border rounded-md text-sm" required />
          <div
            *ngIf="isSubmitted && rideShareForm.get('departureAddress.city')?.invalid && rideShareForm.get('departureAddress.city')"
            class="text-error text-sm mt-1">
            <div *ngIf="isSubmitted && rideShareForm.get('departureAddress.city')?.errors?.['required']">
              La ville est requise.
            </div>
            <div *ngIf="isSubmitted && rideShareForm.get('departureAddress.city')?.errors?.['pattern']">
              La ville doit contenir uniquement des lettres.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="arrivalTime" class="block  font-medium ">Heure d'arrivée</label>
      <div>
        <p-calendar id="arrivalTime" formControlName="arrivalTime" [showTime]="true" hourFormat="24"
          [minDate]="today" placeholder=""
          class="bg-white mt-1 block w-full px-3 py-2 border border-border rounded-md  focus:outline-none focus:ring-primary focus:border-primary sm:text-md"
          required></p-calendar>
        <div *ngIf="isSubmitted && rideShareForm.get('arrivalTime')?.invalid && rideShareForm.get('arrivalTime')"
          class="text-error text-sm mt-1">
          <div *ngIf="isSubmitted && rideShareForm.get('arrivalTime')?.errors?.['required']">
            L'heure d'arrivée est requise.
          </div>
        </div>
      </div>
    </div>

    <div formGroupName="arrivalAddress">
      <label class="block text-md font-medium ">Adresse d'arrivée</label>
      <div class="mt-1 flex gap-2">
        <div class="w-1/4">
          <input type="number" placeholder="Numéro" formControlName="number" appAddressCapitalize
            class="w-full px-3 py-2 border border-border rounded-md text-sm" required />
          <div
            *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.number')?.invalid && rideShareForm.get('arrivalAddress.number')"
            class="text-error text-sm mt-1">
            <div *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.number')?.errors?.['required']">
              Le numéro est requis.
            </div>
            <div *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.number')?.errors?.['pattern']">
              Le numéro doit contenir uniquement des chiffres.
            </div>
          </div>
        </div>
        <div class="w-3/4">
          <input type="text" placeholder="Rue" formControlName="street" appAddressCapitalize
            class="w-full px-3 py-2 border border-border rounded-md text-sm" required />
          <div
            *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.street')?.invalid && rideShareForm.get('arrivalAddress.street')"
            class="text-error text-sm mt-1">
            <div *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.street')?.errors?.['required']">
              La rue est requise.
            </div>
            <div *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.street')?.errors?.['pattern']">
              La rue doit contenir uniquement des lettres.
            </div>
          </div>
        </div>
      </div>
      <div class="mt-2 flex gap-2">
        <div class="w-1/4">
          <input type="text" placeholder="Code" formControlName="code" appPostalCode
            class="w-full px-3 py-2 border border-border rounded-md text-sm" required />
          <div
            *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.code')?.invalid && rideShareForm.get('arrivalAddress.code')"
            class="text-error text-sm mt-1">
            <div *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.code')?.errors?.['required']">
              Le code postal est requis.
            </div>
            <div *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.code')?.errors?.['pattern']">
              Le code postal doit être composé de 5 chiffres.
            </div>
          </div>
        </div>
        <div class="w-3/4">
          <input type="text" placeholder="Ville" formControlName="city" appAddressCapitalize
            class="w-full px-3 py-2 border border-border rounded-md text-sm" required />
          <div
            *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.city')?.invalid && rideShareForm.get('arrivalAddress.city')"
            class="text-error text-sm mt-1">
            <div *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.city')?.errors?.['required']">
              La ville est requise.
            </div>
            <div *ngIf="isSubmitted && rideShareForm.get('arrivalAddress.city')?.errors?.['pattern']">
              La ville doit contenir uniquement des lettres.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="availableSeats" class="block text-md font-medium text-gray-700">Paces disponibles</label>
      <div>
        <input type="number" id="availableSeats" formControlName="availableSeats" min="1"
          class="mt-1 block w-full px-3 py-2 border border-border rounded-md  focus:outline-none focus:ring-primary focus:border-primary sm:text-md"
          required />
        <div *ngIf="isSubmitted && rideShareForm.get('availableSeats')?.invalid && rideShareForm.get('availableSeats')"
          class="text-error text-sm mt-1">
          <div *ngIf="isSubmitted && rideShareForm.get('availableSeats')?.errors?.['required']">
            Le nombre de places est requis.
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="vehicleId" class="block text-md font-medium text-gray-700">Véhicule</label>
      <div>
        <select id="vehicleId" formControlName="vehicleId"
          class="mt-1 block w-full px-3 py-2 border border-border rounded-md  focus:outline-none focus:ring-primary focus:border-primary sm:text-md"
          required>
          <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
            {{ vehicle.brand }} - {{ vehicle.model }} - {{ vehicle.number }}
          </option>
        </select>
        <div *ngIf="isSubmitted && rideShareForm.get('vehicleId')?.invalid && rideShareForm.get('vehicleId')"
          class="text-error text-sm mt-1">
          <div *ngIf="isSubmitted && rideShareForm.get('vehicleId')?.errors?.['required']">
            Vous devez sélectionner un véhicule.
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center">
      <button type="submit"
        class="w-fit bg-primary text-neutral py-2 px-4 rounded-md hover:bg-primary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2">
        Publier trajet
      </button>
    </div>
  </form>
</div>
