/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
@tailwind base;
}
@layer primeng;
@layer tailwind-utilities {
@tailwind components;
@tailwind utilities;
}
@layer base, primeng, app;

:root {
  --primary: #453EEB;
  --primary-light: #6F66F2;
  --secondary: #FB6D3A;
  --secondary-light: #FC8D63;
  --border: #D9D9D9;
  --background: #F5F5F5;
  --text: #474545;

  --font-family-base: 'Overpass', Arial, sans-serif;
}

/* Tailwind base layer */
@layer tailwind-base {
  body {
    font-family: var(--font-family-base);
    color: var(--text-color);
  }


  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input, .p-calendar input {
    background-color: transparent !important;
  }

  .p-inputtext:focus,
  .p-inputwrapper-focus {
    box-shadow: none !important;
    border-color: transparent !important;
  }


}

