/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
@tailwind base;
}
@layer primeng;
@layer tailwind-utilities {
@tailwind components;
@tailwind utilities;
}
@layer base, primeng, app;

:root {
  --primary-dark: #2E2AB3;
  --primary: #453EEB;
  --primary-light: #6F66F2;
  --secondary-dark:  hsl(14, 96%, 45%);
  --secondary: #FB6D3A;
  --secondary-light: #FC8D63;
  --secondary-muted: #fee2d8;
  --border: #D9D9D9;
  --background: #F5F5F5;
  --text: #474545;
  --error: #EF4444;
  --neutral: #F9FAFB;

  --font-family-base: 'Overpass', Arial, sans-serif;
}

/* Tailwind base layer */
@layer tailwind-base {
  body {
    font-family: var(--font-family-base);
    color: var(--text-color);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  main {
    padding: 1rem; /* équivalent à p-4 */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
  }


  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

 .rideshare-calendar-input {
    background-color: transparent !important;
  }

  .p-inputtext:focus,
  .p-inputwrapper-focus {
    box-shadow: none !important;
    border-color: transparent !important;
  }


  .btn-validate {
    @apply w-fit bg-primary py-3 px-4 text-neutral text-sm font-normal rounded-lg flex items-center gap-2 hover:bg-primary-dark transition-all duration-300;
  }

  .btn-cancel {
    @apply w-fit py-3 px-4 text-sm font-normal border border-border rounded-lg hover:border-text  transition-all duration-300;
  }

  .btn-warning {
    @apply bg-secondary hover:bg-secondary-dark text-neutral  py-2 px-4 rounded transition duration-300 ease-in-out;
  }

}

