<div class="max-w-6xl mx-auto p-6 bg-white shadow-md rounded-lg">
  <h2 class="text-2xl font-bold mb-6">Modifier le Véhicule</h2>

  <form [formGroup]="vehicleForm" (ngSubmit)="upDateCompanyVehicles()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label for="number" class="block text-sm font-medium text-gray-700">Numéro d'immatriculation</label>
        <input type="text" id="number" formControlName="number"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500" />
          <div *ngIf="vehicleForm.get('number')?.errors?.['required']">
            L'immatriculation du véhicule est requise.
        </div>
        <div *ngIf="vehicleForm.get('number')?.touched && vehicleForm.get('number')?.errors?.['pattern']">
            L'immatriculation doit respecter le format suivant : FF-855-BJ.
        </div>
        </div>

      <div>
        <label for="brand" class="block text-sm font-medium text-gray-700">Marque</label>
        <input type="text" id="brand" formControlName="brand"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500" />
          <div *ngIf="vehicleForm.get('brand')?.invalid && vehicleForm.get('brand')?.touched"
          class="text-red-500 text-sm mt-1">
          La marque du véhicule est requise.
        </div>
      </div>
      <div>
        <label for="model" class="block text-sm font-medium text-gray-700">Modèle</label>
        <input type="text" id="model" formControlName="model"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500" />
          <div *ngIf="vehicleForm.get('model')?.invalid && vehicleForm.get('model')?.touched"
          class="text-red-500 text-sm mt-1">
          Le modèle du véhicule est requis.
        </div>
        </div>

      <div>
        <label for="category" class="block text-sm font-medium text-gray-700">Catégorie</label>
        <select id="category" formControlName="category"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <div *ngIf="vehicleForm.get('category')?.invalid && vehicleForm.get('category')?.touched"
            class="text-red-500 text-sm mt-1">
            La catégorie du véhicule est requise.
          </div>
      </div>

      <div>
        <label for="picUrl" class="block text-sm font-medium text-gray-700">URL de l'image</label>
        <input type="text" id="picUrl" formControlName="picUrl"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500" />
          <div *ngIf="vehicleForm.get('picUrl')?.invalid && vehicleForm.get('picUrl')?.touched"
            class="text-red-500 text-sm mt-1">
            L'url de la photo du véhicule est requis.
          </div>
        </div>

      <div>
        <label for="motor" class="block text-sm font-medium text-gray-700">Motorisation</label>
        <select id="motor" formControlName="motor"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500">
          <option *ngFor="let motor of motors" [value]="motor">{{ motor }}</option>
        </select>
        <div *ngIf="vehicleForm.get('motor')?.invalid && vehicleForm.get('motor')?.touched"
            class="text-red-500 text-sm mt-1">
            Le type de motorisation du véhicule est requis.
          </div>
      </div>

      <div>
        <label for="seats" class="block text-sm font-medium text-gray-700">Nombre de places</label>
        <input type="number" id="seats" formControlName="seats"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500" />
          <div *ngIf="vehicleForm.get('seats')?.invalid && vehicleForm.get('seats')?.touched"
            class="text-red-500 text-sm mt-1">
            Le nombre de places disponibles du véhicule est requis(Minimum 1).
          </div>
        </div>

      <div>
        <label for="co2PerKm" class="block text-sm font-medium text-gray-700">CO₂ par Km</label>
        <input type="number" id="co2PerKm" formControlName="co2PerKm"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500" />
          <div *ngIf="vehicleForm.get('co2PerKm')?.invalid && vehicleForm.get('co2PerKm')?.touched"
            class="text-red-500 text-sm mt-1">
            Le taux de co2 émis par kilomètre du véhicule est requis.
          </div>
        </div>

      <div>
        <label for="status" class="block text-sm font-medium text-gray-700">Statut</label>
        <select id="status" formControlName="status"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500">
          <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
        </select>
        <div *ngIf="vehicleForm.get('status')?.invalid && vehicleForm.get('status')?.touched"
            class="text-red-500 text-sm mt-1">
            Le statut du véhicule est requise.
          </div>
      </div>
    </div>

    <div class="mt-6">
      <button type="submit" class="w-full bg-blue-500 text-white font-semibold py-2 rounded-md hover:bg-blue-600">Mettre
        à jour le véhicule</button>
    </div>

    <div *ngIf="errorMessage" class="mt-4 text-red-500 text-sm">
      {{ errorMessage }}
    </div>
  </form>
</div>