<div class="h-full w-full px-96 mt-14 ">

  <div class="flex items-center mb-4">
    <div class="h-[1px] w-16 bg-secondary-light"></div>
    <h1 class="text-secondary font-medium text-[2rem] mx-4 ">Rechercher</h1>

  </div>
  <form class=" p-4 rounded-lg bg-white text-lg font-light shadow-md  w-3/4 mx-auto">

    <div class="flex flex-col gap-4">
    <div class="flex gap-2 items-center border-b focus-within:border-primary transition-all">
      <div class="flex items-center text-primary">
      <lucide-icon
        name="MapPin"
        [strokeWidth]="1"
        class="w-6 h-6"
        aria-label="map pin"
      ></lucide-icon>
      </div>
      <input type="text" id="departureCity" [(ngModel)]="departureCity" name="departureCity" appCapitalize
        placeholder="Départ" autocomplete="off"
        class="w-full p-2 focus:outline-none focus:ring-0" />
    </div>

    <div class="flex gap-2 items-center border-b focus-within:border-primary transition-all ">
      <div class="flex items-center text-primary">
        <lucide-icon
          name="MapPin"
          [strokeWidth]="1"
          class="w-6 h-6"
          aria-label="map pin"
        ></lucide-icon>
      </div>
      <input type="text" id="arrivalCity" [(ngModel)]="arrivalCity" name="arrivalCity" appCapitalize
             placeholder="Arrivée"
             autocomplete="off"
             class="w-full p-2 focus:outline-none focus:ring-0" />
    </div>

    <div class="flex gap-2 items-center border-b focus-within:border-primary transition-all ">
      <div class="flex items-center text-primary">
        <lucide-icon
          name="CalendarSearch"
          [strokeWidth]="1"
          class="w-6 h-6"
          aria-label="Calendar Search"
        ></lucide-icon>
      </div>

      <p-calendar inputId="departureDateTime" [(ngModel)]="departureDateTime" name="departureDateTime" [showTime]="true"
                  hourFormat="24" placeholder="Horaire de départ"
                  class="w-full p-2 rideshare-calendar-input "></p-calendar>
    </div>
    </div>

    <div class="flex space-x-4 justify-center mt-10 text-sm font-normal">
        <button type="button" (click)="clearSearch()"
            class="w-fit py-2 px-4 border border-border rounded-lg   ">
            Effacer la recherche
        </button>
      <button type="button" (click)="searchRideShares()"
              class=" bg-primary py-2 px-4 text-white rounded-lg flex items-center gap-2 hover:bg-primary-light transition-all duration-300">
        <lucide-icon
          name="Search"
          [strokeWidth]="1"
          class="w-5 h-5"
          aria-label="Calendar Search"
        ></lucide-icon>
        Résultats
      </button>

    </div>
</form>
</div>

<!-- Liste des covoiturages -->
<div class="mt-10 max-w-lg mx-auto">
    <app-rideshare-passenger-search-item
      *ngFor="let rideshare of rideshares" [rideshare]="rideshare"
      (reserve)="openReservationDialog($event)">
    class="mb-4">
    </app-rideshare-passenger-search-item>
</div>

<p-dialog header="Réserver un Covoiturage"
          [(visible)]="displayDialog"
          [modal]="true"
          [closable]="true"
          [style]="{ width: '50vw' }"
          >
  <ng-template pTemplate="content">
    <app-rideshare-passenger-reservation-add
      [rideShareId]="selectedRideShareId"
      (confirmReservation)="onReservationSuccess()"
      (backToSearch)="displayDialog = false"
      >
    </app-rideshare-passenger-reservation-add>
  </ng-template>
</p-dialog>
