<div class="bg-white shadow-md rounded-lg p-3 flex justify-between  space-x-4">
  <div class="flex space-x-4">

    <img *ngIf="vehicle.picUrl" [src]="vehicle.picUrl" alt="{{ vehicle.brand }} {{ vehicle.model }}"
         class="w-32 h-20 object-cover rounded-lg shadow-sm" />

    <div class="flex flex-col space-y-1">
      <div class="flex items-center space-x-2"><p class="text-lg font-semibold">{{ vehicle.brand }}
        - {{ vehicle.model }}</p>
        <p class="text-sm ">{{ vehicle.number }}</p>
      </div>
      <div class="text-xs flex items-center space-x-2">
        <p> {{ vehicle.category | translateVehicleCategory }} - </p>
        <p>{{ vehicle.motor | translateMotor }} - </p>
        <div class="flex items-center ">
          <p class="mr-1">{{ vehicle.co2PerKm }}</p>
          <span>CO₂/km</span>
        </div>
      </div>
      <div class="flex space-x-2">
        <div class="flex items-center text-sm ">
          <span class="mr-1">Places :</span>
          <p>{{ vehicle.seats }}</p>
        </div>
        <div class="flex items-center text-sm ">
          <span class="mr-1">Statut :</span>
          <p>{{ vehicle.status | translateVehicleStatus }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col  space-y-3" >
    <button (click)="modifyVehicle()" class="btn-edit-rounded">
      <lucide-icon
        name="Pen"
        [strokeWidth]="1"
        class="w-4 h-4"
        aria-label="Pen"
      ></lucide-icon>
    </button>

    <button (click)="showConfirmation()" class="btn-warning-rounded">
      <lucide-icon
        name="Trash2"
        [strokeWidth]="1"
        class="w-4 h-4"
        aria-label="Trash2"
      ></lucide-icon>
    </button>
  </div>

</div>

<p-dialog
  [(visible)]="displayDialog"
  modal="true"
  [style]="{ width: '50vw' }"
  [resizable]="false"
  [closable]="true"
  [header]="'Modifier véhicule de service'"

>
  <ng-template pTemplate="content">
    <ng-container>
      <app-company-vehicle-update
        [vehicle]="vehicle"
        (updateComplete)="handleUpdateComplete($event)"
      ></app-company-vehicle-update>
    </ng-container>
  </ng-template>
</p-dialog>

<div class="fixed inset-0 z-40 bg-gray-600 bg-opacity-30 bg-blur " *ngIf="isConfirmVisible"></div>
<div
  class="  fixed inset-0 flex items-center justify-center z-50 shadow-md "
  *ngIf="isConfirmVisible">
  <app-confirm-dialog
    [visible]="isConfirmVisible"
    [message]="confirmationMessage"
    [confirmButtonText]="confirmationConfirmText"
    [cancelButtonText]="confirmationCancelText"
    (confirm)="onConfirmCancel()"
    (cancel)="onCancelCancel()">
  </app-confirm-dialog>
</div>
