<div class="max-w-4xl mx-auto p-6 bg-gray-50 min-h-screen relative">
  <div class="flex justify-between items-center mb-6">
    <!-- Filtres -->
    <div class="flex space-x-4">
      <div>
        <label for="brandFilter" class="block text-sm font-medium text-gray-700">Marque :</label>
        <input type="text" id="brandFilter" [(ngModel)]="brandFilter"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
      </div>
      <div>
        <label for="numberFilter" class="block text-sm font-medium text-gray-700">Numéro d'immatriculation :</label>
        <input type="text" id="numberFilter" [(ngModel)]="numberFilter"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
      </div>
      <button (click)="filterVehicles()" class="self-end bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">
        Filtrer
      </button>
    </div>
    <button (click)="clearFilters()" class="self-end bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600">
      Effacer
    </button>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="mb-4 text-red-500 text-sm">
    {{ errorMessage }}
  </div>

  <div *ngIf="showBookings">
    <app-booking-admin-list></app-booking-admin-list>
  </div>
  <!-- Vehicle Cards -->
  <div *ngIf="vehicles.length > 0" class="flex flex-col gap-2">
    <app-company-vehicle-admin-item *ngFor="let vehicle of vehicles" [vehicle]="vehicle"
      [onDelete]="deleteCompanyVehicles.bind(this)">
    </app-company-vehicle-admin-item>
  </div>
</div>



<!-- No Vehicles Message -->
<div *ngIf="vehicles.length === 0" class="text-gray-500 text-center mt-10">
  Aucun véhicule disponible.
</div>