<div class="flex justify-start items-center space-x-4 mb-6">
  <div>
    <div class="flex gap-2">
      <lucide-icon
        name="ListFilter"
        [strokeWidth]="1"
        class="w-5 h-5"
        aria-label="filter"
      ></lucide-icon>
      <label for="brandFilter" class="block text-sm font-medium ">Marque</label>
    </div>
    <input type="text" id="brandFilter" [(ngModel)]="brandFilter" (ngModelChange)="filterVehicles()"
           class="mt-1 block w-full p-2 border border-border rounded-lg shadow-sm focus:outline-none focus:primary focus:border-primary sm:text-sm"
           placeholder="Exemple : Toyota" />
  </div>

  <div>
    <div class="flex gap-2">
      <lucide-icon
        name="ListFilter"
        [strokeWidth]="1"
        class="w-5 h-5"
        aria-label="Filter"
      ></lucide-icon>
      <label for="numberFilter" class="block text-sm font-medium ">Immatriculation</label>
    </div>
    <input type="text" id="numberFilter" [(ngModel)]="numberFilter" (ngModelChange)="filterVehicles()"
           class="mt-1 block w-full p-2 border border-border rounded-lg shadow-sm focus:outline-none focus:primary focus:border-primary sm:text-sm"
           placeholder="Exemple : AA-123-BB" />
  </div>
  <div class="pt-6">
    <button (click)="clearFilters()"
            class="bg-neutral border border-border text-primary-light px-4 py-2 rounded-lg hover:text-primary-dark transition-colors">
      <lucide-icon
        name="RotateCcw"
        [strokeWidth]="1"
        class="w-5 h-5"
        aria-label="reload"
      ></lucide-icon>
    </button>
  </div>
</div>

<div *ngIf="vehicles.length > 0" class="flex flex-col space-y-4">
  <app-company-vehicle-admin-item
    *ngFor="let vehicle of vehicles" [vehicle]="vehicle"
    (onUpdateComplete)="getAllVehicles()"
    (onDelete)="onDeleteVehicle($event)">
  </app-company-vehicle-admin-item>
</div>

<p *ngIf="vehicles.length === 0" class="border text-center mt-10">
  Aucun véhicule disponible.
</p>

