<div *ngIf="!isConfirmVisible ">
  <div class="p-6 space-y-5">
    <div class="flex items-start gap-14">

      <div class="flex gap-2">
        <div class="flex flex-col items-center justify-center">
          <lucide-icon
            name="MapPin"
            [strokeWidth]="1"
            class="w-5 h-5 text-primary-light"
            aria-label="map pin"
          ></lucide-icon>
        </div>
        <div class="flex flex-col items-start">
          <p class=" font-light text-primary">{{ rideshare.departureTime | dateFormatter }}</p>
          <p class="">{{ rideshare.departureAddress.number }} {{ rideshare.departureAddress.street }}</p>
          <p> {{ rideshare.departureAddress.code }} - {{ rideshare.departureAddress.city }}</p>
        </div>
      </div>

      <div class="flex gap-2">
        <div class="flex flex-col items-center justify-center">
          <lucide-icon
            name="MapPin"
            [strokeWidth]="1"
            class="w-5 h-5 text-primary-light"
            aria-label="map pin"
          ></lucide-icon>
        </div>
        <div class="flex flex-col items-start">
          <p class=" font-light text-primary">{{ rideshare.arrivalTime | dateFormatter }}</p>
          <p class="">{{ rideshare.arrivalAddress.number }} {{ rideshare.arrivalAddress.street }}</p>
          <p> {{ rideshare.arrivalAddress.code }} - {{ rideshare.arrivalAddress.city }}</p>
        </div>
      </div>
    </div>

    <div>
      <div class="flex items-center gap-2 text-secondary-light mb-2">

        <lucide-icon
          name="CircleUserRound"
          [strokeWidth]="1"
          class="w-6 h-6 "
          aria-label="SquareUserRound"
        ></lucide-icon>
        <h3 class="text-lg">Organisateur</h3>
      </div>
      <div class="flex items-center gap-3">
        <div class="flex gap-1 items-center">
        <img
          [src]="rideshare.organizer.gender === 'male' ? 'assets/images/avatar-m.png' : 'assets/images/avatar-f.png'"
          alt="Avatar"
          class="w-8 h-8 rounded-full"
        />
        <p class="font-medium">{{ rideshare.organizer.firstName }} {{ rideshare.organizer.lastName }}</p>
        </div>
        <div class="flex gap-1 items-center">
        <lucide-icon
          name="Smartphone"
          [strokeWidth]="1"
          class="w-6 h-6 "
          aria-label="Smartphone"
        ></lucide-icon>
        <p>{{ rideshare.organizer.phone }} </p>
        </div>
        <div class="flex gap-1 items-center">
        <lucide-icon
          name="Mail"
          [strokeWidth]="1"
          class="w-6 h-6 "
          aria-label="Mail"
        ></lucide-icon>
        <p>{{ rideshare.organizer.email }} </p>
        </div>
      </div>
    </div>


    <div>
      <div class="flex items-center gap-2 text-secondary-light">
        <lucide-icon
          name="Car"
          [strokeWidth]="1"
          class="w-6 h-6 "
          aria-label="Car"
        ></lucide-icon>
        <h3 class="text-lg  ">Véhicule</h3>
      </div>
      <div class="flex gap-2">
        <p>{{ rideshare.vehicle.brand }} -</p>
        <p>{{ rideshare.vehicle.model }}</p>
        <p>{{ rideshare.vehicle.number }}</p>
      </div>
    </div>

    <div>
      <div class="flex items-center gap-2 text-secondary-light mb-2">
        <lucide-icon
          name="UsersRound"
          [strokeWidth]="1"
          class="w-6 h-6 "
          aria-label="UsersRound"
        ></lucide-icon>
        <h3 class="text-lg ">Passagers</h3>
      </div>
      <ul class="flex space-x-4">
        <li *ngFor="let passenger of rideshare.passengers" class="flex items-center gap-1">
          <img
            [src]="passenger.gender === 'male' ? 'assets/images/avatar-m.png' : 'assets/images/avatar-f.png'"
            alt="Avatar"
            class="w-8 h-8 rounded-full"
          />
          <p class="font-medium">{{ passenger.firstName }} {{ passenger.lastName }}</p>
        </li>
      </ul>
    </div>


    <div class="flex items-center gap-2  mb-2">
      <lucide-icon
        name="ContactRound"
        [strokeWidth]="1"
        class="w-6 h-6 text-secondary-light "
        aria-label="ContactRound"
      ></lucide-icon>
      <h3 class="text-lg text-secondary-light ">Places disponibles</h3>
      <p class="font-medium"> {{ rideshare.availableSeats }}</p>
    </div>
    <div class="flex justify-center" *ngIf="!past">
      <button (click)="showConfirmation()"
              class="btn-warning">
        Annuler votre participation
      </button>
    </div>
  </div>
</div>

<div *ngIf="isConfirmVisible">

  <app-confirm-dialog
    [visible]="isConfirmVisible"
    [message]="confirmationMessage"
    [confirmButtonText]="confirmationConfirmText"
    [cancelButtonText]="confirmationCancelText"
    (confirm)="onConfirmCancel()"
    (cancel)="onCancelCancel()">
  </app-confirm-dialog>
</div>
