<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="max-w-md mx-auto p-4 ">

    <div class="mb-4 mt-12">
        <label for="gender" class="block  text-sm font-semibold ">Civilité</label>
        <select id="gender" formControlName="gender"
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-primary">
            <option value="male">Monsieur</option>
            <option value="female">Madame</option>
        </select>
        <div *ngIf="isSubmitted && signupForm.get('gender')?.invalid && signupForm.get('gender')"
            class="text-red-500 text-sm pt-2">
            Civilité est requis.
        </div>
    </div>

    <div class="mb-4">
        <label for="firstName" class="block  text-sm font-semibold">Prénom</label>
        <input id="firstName" formControlName="firstName" type="text" appCapitalize
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-primary text-transform: capitalize"
            placeholder="" />
        <div *ngIf="isSubmitted && signupForm.get('firstName')?.invalid && signupForm.get('firstName')"
            class="text-red-500 text-sm pt-2">
            Le prénom est requis.
        </div>
    </div>

    <div class="mb-4">
        <label for="lastName" class="block  text-sm font-semibold">Nom</label>
        <input id="lastName" formControlName="lastName" type="text" appCapitalize
            class="w-full px-3 py-2 border border-border  rounded-md focus:outline-none focus:border-primary text-transform: capitalize"
            placeholder="" />
        <div *ngIf="isSubmitted && signupForm.get('lastName')?.invalid && signupForm.get('lastName')"
            class="text-red-500 text-sm pt-2">
            Le nom est requis.
        </div>
    </div>

    <div class="mb-4">
        <label for="phone" class="block  text-sm font-semibold">Téléphone</label>
        <input id="phone" formControlName="phone" type="text" maxlength="10"
            class="w-full px-3 py-2 border border-border  rounded-md focus:outline-none focus:border-primary "
            placeholder="" />
        <div *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')" class="text-red-500 text-sm pt-2">
            <div *ngIf="isSubmitted && signupForm.get('phone')?.errors?.['required']">Le numéro de téléphone est requis.
            </div>
            <div *ngIf="signupForm.get('phone')?.errors?.['pattern']">
                Le numéro doit commencer par 0 et comporter exactement 10 chiffres.
            </div>
        </div>
    </div>

    <div class="mb-4">
        <label for="email" class="block  text-sm font-semibold">Email</label>
        <input id="email" formControlName="email" type="email"
            class="w-full px-3 py-2 border border-border  rounded-md focus:outline-none focus:border-primary bg-white"
            placeholder="" />
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')" class="text-red-500 text-sm pt-2">
            <div *ngIf="isSubmitted && signupForm.get('email')?.errors?.['required']">L'email est requis.</div>
            <div *ngIf="isSubmitted && signupForm.get('email')?.errors?.['email']">Veuillez entrer un email valide.
            </div>
        </div>
    </div>

    <div class="mb-6">
        <label for="password" class="block text-gray-700 text-sm font-semibold mb-2">Mot de passe</label>
        <input id="password" formControlName="password" type="password"
            class="w-full px-3 py-2 border border-border  rounded-md focus:outline-none focus:border-primary"
            placeholder="" />
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')" class="text-red-500 text-sm pt-2">
            <div *ngIf="isSubmitted && signupForm.get('password')?.errors?.['required']">Le mot de passe est requis.
            </div>
            <div *ngIf="signupForm.get('password')?.errors?.['minlength']">
                Le mot de passe doit contenir au moins 8 caractères.
            </div>
            <div *ngIf="isSubmitted && signupForm.get('password')?.errors?.['pattern']">
                Le mot de passe doit contenir une majuscule, une minuscule, un chiffre et un caractère spécial.
            </div>
        </div>
    </div>

  <div class="flex flex-col items-center ">
    <button type="submit"
            class="bg-primary text-white px-4 py-2 rounded-md shadow-sm ">
      S'inscrire
    </button>
    <div class="flex gap-6 justify-center mt-4">
      <a [routerLink]="['']" class="cursor-pointer hover:text-primary-light">Connection</a>
      <p  class="text-primary ">Création compte</p>
    </div>
  </div>
</form>
